.bold {
    font-family: 'Nanum Myeongjo', serif;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

.flex_inner {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
}

.sec {
    padding: 100px 0;
}

.m_cont_tit {
    text-align: center;
    margin: 0 0 50px 0;
}

.m_cont_tit h2 {
    font-size: 45px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.m_cont_tit p {
    font-size: 20px;
    font-weight: 300;
}

button {
    cursor: pointer;
}