* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

em,
i,
address {
    font-style: normal;
}

b,
strong {
    font-weight: normal;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

body {
    /* 문장간의 공간을 폰트사이즈와 동일하게 해서 layout을 쉽게 구현할 수 있게 해준다. */
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #333;
    word-break: keep-all;
}

.cf::after,
.clearflx::after,
.row::after {
    content: "";
    display: block;
    clear: both;
}

.slick-track,
.slick-list {
    transition-delay: 0.03s;
}