.background-confirm {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
    opacity: 0;
}

.confirm-show {
    z-index: 1000;
    opacity: 1;
    transition: all 0.5s;
}

.confirm-box {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: rgb(255, 255, 255);
    width: 300px;
    border-radius: 6px;
    padding: 32px 32px 32px;
    box-shadow: rgb(0, 0, 0 / 20%) 0px 3px 3px 3px;

    transform: translate(-50%, -20%);
}

.confirm-show .confirm-box {
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}

.confirm-title {
    margin-bottom: 32px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: center;
}

.confirm-title strong {
    display: inline-block;
    color: #00b564;
    font-size: 20px;
    font-weight: bold;

}

.confirm-title span {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}

.confirm-subtitle {
    margin-bottom: 32px;
    text-align: center;
    color: rgb(102, 102, 102);
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
}


.confirm-action button {
    display: block;
    margin: 0 auto;
    width: 40%;
    height: 30px;
    border: none;
    background-color: #00b564;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    outline: none;
    border-radius: 12px;
    transition: 0.2s all;
}

.confirm-action button:active {
    background-color: #009652;
    transform: scale(0.95);
}