* {
	border: 1px solid;
}


.image {
	font-family: 'Noto Sans KR', sans-serif;
	display: flex;
	height: 200px;
	margin-bottom: 40px;
	margin-right: 0px;
}

.doctor {
	display: flex;
}


.container {
	display: flex;
	justify-content: center;
}
#topmargin{
margin-top: 100px;
}

.name {
	padding-left: 10px;
	font-family: 'Noto Sans KR', sans-serif;
	padding-top: 20px;
	color: #484848;
	display: flex;
	font-size: 18px;
	width: 200px;
	font-weight: bolder;
	flex-direction: column;
	align-content: stretch;
	justify-content: space-evenly;
}

.explanation {
	font-family: 'Noto Sans KR', sans-serif;
	color: #868686;
	display: flex;
	font-size: 12px;
	height: 100px;
	width: 200px;
	align-content: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}

.chat {
	font-family: 'Noto Sans KR', sans-serif;
	color: #6eada9;
	font-size: 11px;
	padding-top: 50px;
	font-weight: bold;
	display: flex;
}

.stars {
	padding-top: 5px;
	font-size: 15px;
	color: #222222
}

.fa-solid.fa-star {
	color: #6eada9;
}