footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    padding: 0 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2c2a29;
    transition: 0.4s;
}

footer .footer_logo {
    display: flex;
    justify-content: flex-start;
    margin: 0 30px;
}

footer .footer_logo a {
    display: block;
}

footer .footer_logo img {
    min-width: 150px;
}
footer .address{
    width: 1200px;
    margin: 0 auto;
}
footer .address ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0 0 30px 0;
    /* margin:  0 30px; */
    /* display:flex 상태에서는 margin 안쓰고 gap으로 씁니다 */
    /* 위,아래로 margin을 줄때에는 써도 되지만  좌우로는 gap을 사용*/
}


footer .address ul li {
    position: relative;
    color: #f7f7f7;
    line-height: 20px;
    letter-spacing: 1.5px;
    transition: 0.4s;
    width: max-content;
}
footer .address ul li~li::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translate(0,-50%);
    width: 1px;
    height: 10px;
    background: #ddd;
}
footer .address .copy{
    text-align: center;
    color: #f9f9f9;

}