.background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
    opacity: 0;
}

.show {
    z-index: 1000;
    opacity: 1;
    transition: all 0.5s;
}

.login-box {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: rgb(255, 255, 255);
    width: 376px;
    border-radius: 6px;
    padding: 32px 32px 32px;
    box-shadow: rgb(0, 0, 0 / 20%) 0px 3px 3px 3px;

    transform: translate(-50%, -20%);
}

.show .login-box {
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}

.login-header {
    display: flex;
    height: 48px;
    /* box-shadow: rgb(240 240 240) 0px 0px 2px 0px inset; */
    justify-content: flex-end;
}

.close {
    position: absolute;
    color: rgb(170, 170, 170);
    font-size: 2rem;
    cursor: pointer;
}

.login-title {
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    margin-bottom: 32px;
    text-align: center;
}

.login-title h2 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.login-subtitle {
    margin-top: 24px;
    color: rgb(102, 102, 102);
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
}

.input-wrapper input {
    height: 40px;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    outline: none;
    border-bottom: 1px solid rgb(134, 134, 134);
    border-radius: 0px;
    font-size: 16px;
    transition: border-bottom 0.15s ease-in 0s;
}

.password_wrapper {
    position: relative;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 8px;
    border-bottom: 1px solid rgb(134, 134, 134);
}

.password_wrapper input {
    width: 90%;
    border: none;
}

.login-action {
    margin-bottom: 20px;
}

.login-action button {
    width: 100%;
    height: 48px;
    margin-top: 24px;
    border: none;
    background-color: #00b564;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    outline: none;
    border-radius: 12px;
}

.register-action {
    display: block;
    cursor: pointer;
    color: rgb(102, 102, 102);
    font-size: 16px;
    text-align: center;
}

.register-action .flex {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.register-action .register {
    cursor: pointer;
    color: rgb(60, 152, 146);
}

.register-action .bar {
    margin: 0px 8px;
}