* {
    outline: 1px solid #333;
}

#section01,
#section02,
#section03,
#section04 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;

}

#section01 .inner strong {
    display: block;
    text-align: center;
    font-size: 80px;
    font-weight: 500;
    line-height: 1.3;
}



#section02 .inner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

#section02 .inner .section02_img {
    flex: 1;

    height: 700px;
}

#section02 .inner .section02_img img {
    width: 100%;
    height: 100%;
}

#section02 .inner .section02_desc {
    flex: 1;
    text-align: center;
    padding: 50px 0;
}

#section02 .inner h2 {
    font-size: 50px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

#section02 .inner span {
    display: block;
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 20px 0;
    color: #555;
}

#section02 .inner p {
    text-align: center;
    font-size: 20px;
    line-height: 1.7;
    color: #777;
}

#section02 .flowerimg {
    margin-left: 100px;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
}

#section04 .inner h2 {
    text-align: center;
    font-style: normal;
    font-size: 60px;
    font-weight: 500;
    margin: 10px 0 0;
}

#section04 .inner left-box {
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    flex-direction: column;
    font-size: 10px;
    text-align: left;
}

#section04 .inner fieldset {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    border: none;
}

#section04 .team-member {
    width: 100%;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

#section04 .members {
    width: 20%;
}

#section04 .members img {
    display: block;
    min-width: 200px;
    min-height: 200px;
    padding: 0 10px;
}

#section04 legend {
    margin-top: 50px;
    width: 100%;
    color: #212529;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.main_side_nav {
    position: fixed;
    top: 50%;
    left: 70px;
    transform: translate(0, -50%);
    z-index: 999;
}

.main_side_nav .page_nav li {
    position: relative;
    margin: 0 0 50px 0;
    cursor: pointer;
}