/* * {
    outline: 1px solid #333;
} */
#section01, #section02, #section03, #section04-1, #section04-2 {
	height: 100vh;
	display: flex;
	padding-top: 90px;
	flex-direction: column;
	justify-content: center;
	gap: 0;
}

#section01 .background-test {
	display: flex;
	width: 100%;
	height: 500px;
    align-items: center;
	background-color: rgb(213, 248, 203);
}

#section01 .inner .test-title {
	-webkit-box-align: center;
	align-items: center;
	display: flex;
}

#section01 .test-title .title-left {
	color: rgb(72, 72, 72);
	font-size: 20px;
	font-weight: bold;
}

#section01 .test-title .title-center {
	position: relative;
	z-index: 10;
	width: 90px;
	border-radius: 10px;
	height: 5px;
	background-color: rgba(124, 255, 99, 0.7);
	top: 10px;
}

#section01 .title-center .center-test {
	color: #35AD64;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -66%);
}

#section01 .test-title .title-right {
	color: rgb(72, 72, 72);
	font-size: 20px;
	font-weight: bold;
}

#section01 .inner .test-list {
	display: flex;
	-webkit-box-pack: center;
	justify-content: flex-start;
	overflow: hidden;
	height: 300px;
}

#section01 .inner .prev-btn {
	position: absolute;
	top: 55%;
	left: 15%;
	transform: translate(0%, -50%);
	z-index: 999;
	font-size: 60px;
	color: #c0c0c0;
}

#section01 .inner .next-btn {
	position: absolute;
	top: 55%;
	right: 15%;
	transform: translate(0%, -50%);
	z-index: 999;
	font-size: 60px;
	color: #c0c0c0;
}

#section01 .test-list .test-box {
	display: flex;
	padding: 30px 30px 30px 0px;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	width: fit-content;
}

#section01 .test-box .test-cardview {
	cursor: pointer;
	width: 312px;
	height: 220px;
	border-radius: 8px;
	box-shadow: rgb(0 0 0/ 24%) 0px 1px 4px 0px;
	background-color: rgb(255, 255, 255);
}

#section01 .test-cardview .test-image {
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	width: 100%;
	height: 135px;
	object-fit: fill;
}

#section01 .test-cardview .test-title-box {
	height: 80px;
	padding-bottom: 10px;
	transform: translate(0%, 10%);
}

#section01 .test-title-box .test-title {
	display: flex;
	width: 85%;
	height: 20px;
	margin: 10px 0px 0px 20px;
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.7px;
	color: rgb(51, 51, 51);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#section01 .test-title-box .test-subtitle-box {
	display: flex;
	flex-direction: column;
}

#section01 .test-subtitle-box .test-subtitle {
	width: 230px;
	height: 16px;
	margin: 10px 0px 0px 20px;
	font-size: 11px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.4px;
	color: rgb(102, 102, 102);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#section02 .inner {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

#section02 .inner .section02_img {
	flex: 1;
	height: 700px;
}

#section02 .inner .section02_img img {
	width: 100%;
	height: 100%;
}

#section02 .inner .section02_desc {
	flex: 1;
	text-align: center;
	padding: 50px 0;
}

#section02 .inner h2 {
	font-size: 50px;
	font-weight: 500;
	margin: 0 0 20px 0;
}

#section02 .inner span {
	display: block;
	font-size: 30px;
	font-weight: 500;
	margin: 0 0 20px 0;
	color: #555;
}

#section02 .inner p {
	text-align: center;
	font-size: 20px;
	line-height: 1.7;
	color: #777;
}

#section02 .flowerimg {
	margin-left: 100px;
	font-size: 10px;
	line-height: 14px;
	text-align: center;
}

#section04-1 .inner strong {
	padding-left: 100px;
	display: block;
	text-align: left;
	font-size: 70px;
	font-weight: 500;
	line-height: 1.3;
}
#section04-1 .inner point{
	text-align: left;
	color: #35AD64;
	font-size: 70px;
	font-weight: 500;
	line-height: 1.3;
}
#section04-1 .inner main{
	padding-left: 100px;
	padding-top: 50px;
	text-align: left;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.8;
}

#section04-2 .inner h2 {
	text-align: center;
	font-style: normal;
	font-size: 60px;
	font-weight: 500;
	margin: 10px 0 0;
}

#section04-2 .inner left-box {
	display: flex;
	margin-top: 100px;
	margin-left: 100px;
	margin-right: 100px;
	flex-direction: column;
	font-size: 10px;
	text-align: left;
}

#section04-2 .inner fieldset {
	display: flex;
	flex-direction: row;
	margin-top: 100px;
	border: none;
}

#section04-2 .team-member {
	width: 100%;
	background-color: #fff;
	display: flex;
	flex-direction: row;
}

#section04-2 .members {
	flex: 1;
}

#section04-2 .members figure {
	overflow: hidden;
}

#section04-2 .members figure img {
	display: block;
	transition: 0.5s;
}

#section04-2 .members:hover figure img {
	transform: scale(1.1);
}

#section04-2 .members img {
	display: block;
	min-width: 200px;
	min-height: 200px;
	padding: 0 10px;
}

#section04-2 legend {
	margin-top: 50px;
	width: 100%;
	color: #212529;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
}