      body {
        font-family: 'Black Han Sans', sans-serif;
        margin: 0%;
        padding: 0%;
      }
      #myPage {
        margin-top: 20%;
        padding: auto;
      }
      #myPage_header {
		margin-top: 50%;
        padding: auto;
      }
      #container {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        background-position: center;
        height: 50%;
        align-items: stretch;
        margin: 10px;
        padding: auto;
      }
      #container-second {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        background-position: center;
        background-size: cover;
        height: 50%;
        width: auto;
        align-items: center;
      }

      #profile {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-color: #00b564;
        border-radius: 5px;
        border-style: solid none none;
        border-width: 28px 0px 0px;
        box-shadow: #484848 0px 3px 6px 0px;
        color: #484848;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: -0.7px;
      }
      #box-bottom {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-color: #00b564;
        border-radius: 5px;
        border-style: solid none none;
        border-width: 25px 0px 0px;
        box-shadow: #484848 0px 3px 6px 0px;
        color: #484848;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        letter-spacing: -0.7px;
        width: 90%;
        height: 50%;
        padding: 15px;
        margin: 10px;
      }
      #myPage_header{
        align-items: flex-end;
        color: #484848;
        display: flex;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: -0.7px;
        padding: 15px;
        margin: 10px;
      }
      #change {
        align-items: center;
        background-color: #00b564;
        border-width: 0px;
        border-radius: 5px;
        box-shadow: #484848 0px 3px 6px 0px;
        color: #ffffff;
        font-size: 15px;
        font-weight: bold;
        height: 30px;
        width: 100px;
      }

      #user-left {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 20% 20% 20% 50%;
      }
      #user-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 20% 0% 20% 20%;
      }
	  #title {
      	margin: 20px;
      	font-size: 20px;
      }
      #user {
        display: flex;
        flex-direction: raw;
      }
      #button-change {
        display: flex;
        justify-content: flex-end;
        padding: 0;
        margin-bottom: 10px;
        margin-right: 10px;
      }
      #button-again {
        display: flex;
        justify-content: center;
        padding: 0;
      }