body {
	font-family: 'Black Han Sans', sans-serif;
	margin: 0%;
	padding: 0%;
	background-color: #F9F9F9;
}

.myPageHeader {
	margin-top: 17%;
}

#myPage {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.container {
	margin: 15px;
	width: 490px;
	padding: 0px 20px 0px 20px;
	background-color: white;
	display: grid;
	justify-content: start;
	align-items: center;
	grid-auto-rows: 50px;
	grid-template-columns: 150px 150px 150px;
	height: auto;
	border-top: 0.5px solid;
	border-bottom: 0.5px solid;
	border-color: #D3D3D3;
}

.container-second {
	margin: 15px;
	width: 490px;
	padding: 0px 20px 0px 20px;
	background-color: white;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-auto-rows: 50px;
	grid-template-columns: 90px 90px 90px 90px 90px;
	height: auto;
	border-top: 0.5px solid;
	border-bottom: 0.5px solid;
	border-color: #D3D3D3;
}

#item-lable {
	font-style: bold;
}

.container-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid;
	border-color: #D3D3D3;
	border-radius: 5px;
	margin: 5px;
	background-color: #F9F9F9;
	font-size: 15px;
	font-weight: 10%;
	height: 28px;
	width: 70px;
}

.container-third {
	margin: 15px;
	width: 1010px;
	padding: 0px 20px 0px 20px;
	background-color: white;
	display: grid;
	justify-content: start;
	align-items: center;
	grid-auto-rows: 50px;
	grid-template-columns: 150px 150px 150px;
	height: auto;
	border-top: 0.5px solid;
	border-bottom: 0.5px solid;
	border-color: #D3D3D3;
}

.container-btn:hover {
	color: white;
	background-color: #35AD64;
}

.background-confirm {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: -1;
	opacity: 0;
}

.confirm-show {
	z-index: 1000;
	opacity: 1;
	transition: all 0.5s;
}

.confirm-box {
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: rgb(255, 255, 255);
	width: 350px;
	border-radius: 6px;
	padding: 32px 32px 32px;
	box-shadow: rgb(0, 0, 0/ 20%) 0px 3px 3px 3px;
	transform: translate(-50%, -20%);
}

.confirm-show .confirm-box {
	transform: translate(-50%, -50%);
	transition: all 0.5s;
}

.confirm-title {
	margin-bottom: 32px;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	text-align: center;
}

.confirm-title.unvalid {
	display: none;
}

.confirm-title strong {
	display: inline-block;
	color: #00b564;
	font-size: 20px;
	font-weight: bold;
}

.confirm-title span {
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
}

.confirm-subtitle {
	height: 200px;
	margin-bottom: 32px;
	text-align: center;
	color: rgb(102, 102, 102);
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
}

.confirm-subtitle.error-text {
	font-size: 20px;
}

.confirm-action {
	display: flex;
	justify-content: center;
	margin: 0;
}

.confirm-action button {
	display: block;
	margin: 10px;
	width: 35%;
	height: 30px;
	border: none;
	background-color: #00b564;
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	outline: none;
	border-radius: 5px;
	transition: 0.2s all;
}

.confirm-action button:active {
	background-color: #009652;
	transform: scale(0.95);
}

#pwlabel {
	padding: 7px;
	margin-bottom: 60px;
}

.pwChange { //
	모달창안 border: solid;
	border-width: 0.5px;
	padding: 7px;
	margin: 10px;
}