body {
	font-family: 'Black Han Sans', sans-serif;
	margin: 0%;
	padding: 0%;
}

#myPage {
	margin-top: 20%;
	padding: auto;
}

#myPage_header {
	align-items: flex-end;
	color: #484848;
	display: flex;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: -0.7px;
	padding: 15px;
	margin: 50px 0px 0px 0px;
}

#container {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	background-position: center;
	height: 50%;
	align-items: stretch;
	margin: 10px;
	padding: auto;
}

#container-second {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	background-position: center;
	background-size: cover;
	height: 50%;
	width: auto;
	align-items: center;
}

#profileLeft {
	display: flex;
	background-color: #ffffff;
	border-color: #00b564;
	border-radius: 5px;
	border-style: solid none none;
	border-width: 28px 0px 0px;
	box-shadow: #484848 0px 3px 6px 0px;
	color: #484848;
	font-size: 18px;
	letter-spacing: -0.7px;
	padding: 3%;
	margin-right: 20px;
	width: 450px;
}

#profile {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: #ffffff;
	border-color: #00b564;
	border-radius: 5px;
	border-style: solid none none;
	border-width: 28px 0px 0px;
	box-shadow: #484848 0px 3px 6px 0px;
	color: #484848;
	font-size: 18px;
	letter-spacing: -0.7px;
	padding: 3%;
}

#btn {
	width: 120px;
	text-align: center;
}
.profileBoxLeft {
	padding: 5px;
	width: 300px;
	height: 30px;
	text-align: left;
}

.profileBoxRight {
	padding: 5px;
	width: 280px;
	height: 30px;
	border-color: #f1f1f1;
	border-style: solid none none;
	border-width: 1px 0px 0px;
	text-align: left;
}

th {
	padding: 5px;
	width: 200px;
	height: 30px;
	text-align: left;
}

#box-bottom {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	border-color: #00b564;
	border-radius: 5px;
	border-style: solid none none;
	border-width: 25px 0px 0px;
	box-shadow: #484848 0px 3px 6px 0px;
	color: #484848;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	letter-spacing: -0.7px;
	width: 90%;
	height: 50%;
	padding: 15px;
	margin: 10px;
}

#change {
	
	align-items: center;
	background-color: #00b564;
	border-width: 0px;
	border-radius: 5px;
	box-shadow: #484848 0px 3px 6px 0px;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	height: 30px;
	width: 100px;
}

#user-left {
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 80px;
}

#user-right {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 0% 20% 0% 0%;
}

#user {
	display: flex;
	flex-direction: raw;
	margin-top: 30px;
	margin-bottom: 50px;
}

#pwChange {
	align-items: center;
	background-color: #00b564;
	border-width: 0px;
	border-radius: 5px;
	box-shadow: #484848 0px 3px 6px 0px;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	height: 30px;
	width: 100px;
}

#button-change {
	display: flex;
	justify-content: flex-end;
	padding: 0;
	margin-bottom: 10px;
	margin-right: 10px;
}

#button-again {
	display: flex;
	justify-content: center;
	padding: 0;
}

.background-confirm {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: -1;
	opacity: 0;
}

.confirm-show {
	z-index: 1000;
	opacity: 1;
	transition: all 0.5s;
}

.confirm-box {
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: rgb(255, 255, 255);
	width: 350px;
	border-radius: 6px;
	padding: 32px 32px 32px;
	box-shadow: rgb(0, 0, 0/ 20%) 0px 3px 3px 3px;
	transform: translate(-50%, -20%);
}

.confirm-show .confirm-box {
	transform: translate(-50%, -50%);
	transition: all 0.5s;
}

.confirm-title {
	margin-bottom: 32px;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	text-align: center;
}

.confirm-title.unvalid {
	display: none;
}

.confirm-title strong {
	display: inline-block;
	color: #00b564;
	font-size: 20px;
	font-weight: bold;
}

.confirm-title span {
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
}

.confirm-subtitle {
	height: 200px;
	margin-bottom: 32px;
	text-align: center;
	color: rgb(102, 102, 102);
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
}

.confirm-subtitle.error-text {
	font-size: 20px;
}
.confirm-action {
	display: flex;
	justify-content: center;
	margin: 0;
}
.confirm-action button {
	display: block;
	margin: 10px;
	width: 35%;
	height: 30px;
	border: none;
	background-color: #00b564;
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	outline: none;
	border-radius: 5px;
	transition: 0.2s all;
}

.confirm-action button:active {
	background-color: #009652;
	transform: scale(0.95);
}
#pwlabel {
	padding: 7px;
	margin-bottom: 60px;
}
.pwChange {
	border: solid;
	border-width: 0.5px;
	padding: 7px;
	margin: 10px;	
}















