.background-self-test {
	height: 100vh;
	display: flex;
	align-items: center;
}

.background-self-test .inner {
	display: flex;
	padding-top: 90px;
	justify-content: center;
	align-items: center;
}

.inner .self-test-list {
	display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px 60px;
}

.self-test-list .self-test-box {
	width: 420px;
	height: 223px;
	border: 1px solid rgb(213, 213, 213);
	border-radius: 8px;
	/* 	padding: 12px; */
	position: relative;
	cursor: pointer;
	border: 1px solid rgb(213, 213, 213);
}

.self-test-box .test-title1 {
	width: 100%;
	display: block;
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 6px 6px;
	width: 120px;
	font-size: 14px;
	font-weight: bold;
	background-color: rgb(249, 241, 182);
	border-radius: 8px 0px 30px;
	z-index: 1;
}

.self-test-box .test-title2 {
	width: 100%;
	display: block;
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 6px 6px;
	width: 120px;
	font-size: 14px;
	font-weight: bold;
	background-color: rgb(250, 214, 203);
	border-radius: 8px 0px 30px;
	z-index: 1;
}


.self-test-box .test-title3 {
	width: 100%;
	display: block;
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 6px 6px;
	width: 120px;
	font-size: 14px;
	font-weight: bold;
	background-color: rgb(211, 238, 192);
	border-radius: 8px 0px 30px;
	z-index: 1;
}

.self-test-box .test-title4 {
	width: 100%;
	display: block;
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 6px 6px;
	width: 120px;
	font-size: 14px;
	font-weight: bold;
	background-color: rgb(170, 209, 229);
	border-radius: 8px 0px 30px;
	z-index: 1;
}

.self-test-box .test-img-box {
	display: block;
	width: 100%;
	position: relative;
}

.test-img-box .test-img {
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	display: block;
	width: 100%;
	height: 155px;
	flex-shrink: 0;
	cursor: pointer;
	object-fit: fill;
	z-index: 3;
}

.self-test-box .test-subtitle {
	font-weight: bold;
	font-size: 14px;
	margin-top: 15px; margin-inline : 20px;
	color: rgb(34, 34, 34);
	margin-inline: 20px;
}

.self-test-box .test-description {
	font-size: 12px;
	margin-top: 15px;
	margin-inline : 20px;
	color: rgb(85, 85, 85);
	margin-inline: 20px;
}